@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

:root {
    --main-color: #15803d;
    --off-white: #dcfce7;
}

body {
    font-family: 'Noto sans', sans-serif;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.links {
    text-decoration: none;
    color: black;
}
.link-primary {
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    border-radius: 0.7rem;
}
.link-secondary {
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
    border-radius: 0.7rem;
}

hr {
    margin: 2rem 0rem;
}

.non-bullet-items {
    list-style: none;
}

.list .list-inline-item {
    display: inline;
    padding: 0rem 1rem;
}
 .navigation {
     background-color: var(--main-color);
     padding: 1rem;
    margin: auto;
    border-bottom-left-radius: 1rem;
}

.navigation .list-inline-item {
   display: inline;
   padding: 1rem;
}

.navigation .non-bullet-items {
    text-align: right;
}

.header {
    padding: 2rem;
    text-align: center;
}

.header .header-img {
    max-width: 350px;
    padding: 1rem 1rem;
}

.section {
    text-align: center;
    padding: 1rem 0rem;
}

.off-white {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
}

.footer .heading {
    text-size-adjust: 20px;
}